<% if @institution.parent_institution.present? %>
  <h1><%= @institution.parent_institution.title %></h1>
  <h3><%= @institution.title %></h3>
<% else %>
  <h1><%= @institution.title %></h1>
<% end %>

<div class="institution-description"><%= @institution.description %></div>

<% if student_signed_in? %>
  <%= link_to "Užpildyk anketą šiai institucijai!", new_form_path(:institution_id => @institution.id) %>
<% end %>

<%= render 'shared/institutions' %>

<% if @forms.any? %>
  <h4><%= @title %> anketos:</h4>
  <%= render 'shared/forms' %>
<% else %>
  <h4><%= @title %> anketų nėra.</h4>
<% end %>
