<li id="<%= form.id %>">
  <span><%= form.title %>
  <br/>
  
  <% if form.institution.present? %>
    <span>Pasirinkta institucija: <%= form.institution.title%></span>
    <br/>
  <% end %>
  
  <%= link_to 'Show', form %>
  <%= link_to 'Edit', edit_form_path(form) %>
  <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>